
:root {
  --light: 90%;
  --dark: 30%;
  --reg: 50%;
  --saturation:100%;
  --borderwidth: 7px;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-smooth: never;
  -webkit-font-smoothing: none;
-moz-osx-font-smoothing: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

.navbar {
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.navbar ul {
  /* Let's reset the margin and padding of the list so it's is flush. */
   margin: 0;
   padding: 0;
   /* Let's remove the bullet points */
   list-style-type: none;
   /* display the list flex and align the items centered */
   display: flex;
   align-items:center;
 }

 .navbar ul li {
   padding: 2vw;
 }

 .table {
  float: left;
  width: 40%;
  margin: 2%;
 }

.start-button {
  text-align: center;
  padding: 10vw;
  border: none;
  text-decoration: none;
  font-size: 32px;
}

.tetris-row {
  display: flex;
}

.tetris-board {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
}

.tetris-cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
}

.tetris-cell-0 {
  background-color: black;
}

.tetris-cell-1 {
  --hue: 0;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-cell-2 {
  --hue: 50;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-cell-3 {
  --hue: 100;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-cell-4 {
  --hue: 150;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-cell-5 {
  --hue: 200;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-cell-6 {
  --hue: 250;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-cell-7 {
  --hue: 300;
  background-color: hsl(var(--hue), var(--saturation), var(--reg));
  border-bottom: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-right: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--dark));
  border-top: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
  border-left: var(--borderwidth) solid hsl(var(--hue), var(--saturation), var(--light));
}

.tetris-score-label {
  font-size: medium;
}

.tetris-parent {
  display: flex;
}

element.style {
  width: 44px;
  left: 0px;
}